.header-container{
    display:flex;
    justify-content:space-between;
    padding:0.1rem;
    gap:2rem;
    box-shadow: 2px 2px 5px 2px rgb(167, 164, 164);

}

.logoImg{
    width:3rem;
    margin:0.2rem;
}
.icons-head{
    display:flex;
    gap: 1.3rem;
    margin:1rem;
    font-size:1.4rem;
}
.img-icon{
    display:flex;
    gap:5rem;
}